/*^ - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  */
/* Header */

.navbar a,
.site-header a,
footer a,
.site-footer a {
    color: inherit;
}

/* Navbar */

.navbar,
.site-header,
footer,
.site-footer {
    background: transparent;
    color: inherit;
}

.navbar {
    background: var(--header-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    position: relative;
}

.theme-unrthdx .navbar {
    background-color: #252525;

}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo img {
    max-width: 200px;
}

.social-links {
    padding: 0 10px 0;
}

.main-nav,
.social-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.main-nav li a,
.social-links li a {
    text-decoration: none;
    font-size: 18px;
    color: var(--link-color);
}

.main-nav li a:hover,
.social-links li a:hover {
    opacity: 0.7;
}

.hamburger {
    display: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--link-color);
    margin-left: 10px;
}

/* First breakpoint (992px): hide social links */
@media (max-width: 992px) {
    .social-links {
        display: none;
        position: absolute;
        top: 70px;
        right: 20px;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border-radius: 10px;
    }

    .social-links.active {
        display: flex;
    }

    .social-toggle {
        display: block;
    }
}

/* Second breakpoint (768px): hide main nav links */
@media (max-width: 768px) {
    .main-nav {
        display: none;
        position: absolute;
        top: 70px;
        right: 60px;
        flex-direction: column;
        background: rgba(0, 0, 0, 0.9);;
        padding: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 10;
        border-radius: 10px;
    }

    .main-nav.active {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }
}

/* Footer */

footer {
    color: var(--text-color);
    background: var(--footer-bg);
    padding-bottom: 20px;
    margin: 0 !important;
}

footer p {
    font-size: 12px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    max-width: 200px;
}



.theme-unrthdx footer {
    background-color: #252525;

}